@import './variables.css';
@import '/components/cardresto.css';
@import '/components/statusresto.css';
@import '/components/navbar.css';
@import '/components/cardplats.css';

    /* paj restoran yo(filtre ki sekleksyone an) */
.filter-active {
      background: #F97316 !important;
      color: white !important;
      border-color: #F97316 !important;
    }

/* paj restoran seleksyone(filtre ki sekleksyone an) */
.tab-active { color: #F97316; border-bottom-color: #F97316; }