@import './variables.css';
@import '/components/cardresto.css';
@import '/components/statusresto.css';
@import '/components/navbar.css';
:root{
    --color-primary: #f97316;
    --color-light: #fff;
    --color-dark: #0f172a;
}