@import './variables.css';

/* NAVBAR */

.navbar{
  background:var(--color-light);

  position:sticky;
  top:0;

  z-index:50;

  box-shadow:
    0 1px 3px rgba(0,0,0,.08);
}

/* CONTAINER */

.navbar-container{
  max-width:1280px;

  margin:auto;

  padding:0 16px;

  height:64px;

  display:flex;

  align-items:center;

  justify-content:space-between;
}

/* LOGO */

.navbar-logo{
  display:flex;

  align-items:center;

  gap:2px;

  text-decoration:none;
}

.logo-image{
  height:50px;

  width:auto;

  object-fit:contain;
}

.logo-text{
  font-weight:900;

  font-size:16px;

  line-height:1;

  letter-spacing:-0.02em;

  color: var(--color-dark);
}

/* DESKTOP NAV */

.desktop-nav{
  display:none;

  gap:32px;

  font-size:14px;

  font-weight:500;
}

.nav-link{
  text-decoration:none;

  color:var(--color-dark);

  transition:.2s;
}

.nav-link:hover{
  color:var(--color-primary);
}

.nav-link.active{
  color:var(--color-primary);

  font-weight:600;
}

/* ACTIONS */

.navbar-actions{
  display:flex;

  align-items:center;

  gap:12px;
}

.navbar-actions .btn-login{
  text-decoration:none;

  padding:8px 0;

  color:var(--color-dark);

  font-size:14px;

  font-weight:600;
}

.navbar-actions .btn-login:hover{
  color:var(--color-primary);
}

.navbar-actions .btn-signup{
  text-decoration:none;

  background:var(--color-primary);

  color:var(--color-light);

  padding:8px 20px;

  border-radius:8px;

  font-size:14px;

  font-weight:600;

  transition:.2s;
}

.navbar-actions .btn-signup:hover{
  background:var(--color-primary);
}

/* MOBILE BUTTON */

.mobile-btn{
  border:none;

  background:none;

  padding:8px;

  border-radius:8px;

  cursor:pointer;

  color:var(--color-dark);
}

.mobile-btn:hover{
  background:var(--color-light);
}

.icon{
  width:20px;

  height:20px;
}

.hidden{
  display:none;
}

/* MOBILE MENU */

.mobile-nav{
  background: var(--color-light);

  border-top:1px solid var(--color-light);
}

.mobile-nav-container{
  max-width:1280px;

  margin:auto;

  padding:16px;

  display:flex;

  flex-direction:column;

  gap:4px;
}

.mobile-link{
  padding:12px;

  border-radius:8px;

  text-decoration:none;

  color:var(--color-dark);

  font-size:14px;
}

.mobile-link:hover{
  background:var(--color-light);

  color:var(--color-primary);
}

.mobile-link.active{
  color:var(--color-primary);

  font-weight:600;
}

/* RESPONSIVE */

@media (min-width:768px){

  .desktop-nav{
    display:flex;
  }

  .mobile-btn{
    display:none;
  }

  .mobile-nav{
    display:none !important;
  }

  .navbar-container{
    padding:0 24px;
  }
   .btn-login{

    padding-left:10px;

    padding-right:10px;

    font-size:13px;

  }

  .btn-signup{

    padding:8px 14px;

  }
}